extends ../shared/template
block content
  h2 Home Page!

block scripts
<<<<<<< HEAD
<<<<<<< HEAD
  script(src='')
=======
  script(src='/js/user/home.js')
>>>>>>> 4a3e479e8ae881cc03329a072bf6515a38284e00
=======
  script(src='/js/user/home.js')
>>>>>>> parent of b0cc77e... Controllers, db, routs passing the object/ need to work on passing the image in the browser improving css

