@import url(http://fonts.googleapis.com/css?family=Open+Sans);

*{
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}

body{
<<<<<<< HEAD
<<<<<<< HEAD
  background-image: url();
=======
  background-image: url(/img/node.png);
>>>>>>> 4a3e479e8ae881cc03329a072bf6515a38284e00
=======
  background-image: url(/img/node.png);
>>>>>>> parent of b0cc77e... Controllers, db, routs passing the object/ need to work on passing the image in the browser improving css
  background-size: cover;
}

